button {
  margin: 0px;

  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(68, 68, 238);
  padding: 0.5em 2.6em;
  margin: 0.8em 1.1em;
  color: rgb(68, 68, 238);
  transition: background-color 100ms, color 100ms, box-shadow 100ms;
  cursor: pointer;
  height: 3.5em;
  border-radius: 1.75em;
}
button:hover {
  background-color: rgb(68, 68, 238);
  color: white;
  box-shadow: 5px 5px 8px 2px black;
}
button:active {
  opacity: 0.65;
  box-shadow: 2px 2px 8px 1px black;
}

.greatBtnBlue {
  font-size: 26px;
}
.bigBtnBlue {
  font-size: 21px;
}
.medBtnBlue {
  font-size: 16px;
}
.smallBtnBlue {
  font-size: 12px;
}

.acceptBtn {
  background-color: rgb(3, 211, 20);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(229, 250, 134);
  padding: 0.5em 2.2em;
  margin: 0.8em 1.1em;
  color: rgb(229, 250, 134);
  transition: background-color 100ms, color 100ms, box-shadow 100ms;
  cursor: pointer;
  height: 2.5em;
  border-radius: 0.4em;

  font-size: 30px;
}
.acceptBtn:hover {
  background-color: rgb(206, 204, 94);
  color: white;
  box-shadow: 5px 5px 8px 2px black;
}
